@import "tailwindcss";

* {
  font-family: "Cairo", sans-serif;
}
:root {
  --backgroundColor: #f5f5f5;
  --borderColor: #e0e0e0;
  --primeColor: #4a7c59;
  --textColor: #333333;
  --iconColor: #1a2e1a;
  --subTextColor: #5a7c65;
  --textMuted: #9ca3af;
}
