@import "tailwindcss";

* {
  font-family: "Cairo", sans-serif;
}
:root {
  --backgroundColor: #f5f5f5;
  --borderColor: #e0e0e0;
  --primeColor: #4a7c59;
  --textColor: #161f2c;
  --iconColor: #1a2e1a;
  --subTextColor: #1e2939;
  --cellTextColor: #364153;
  --fillColor: #ecfdf5;
  --textMuted: #9ca3af;
  --textMuted2: #6a7282;
}
